<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chimp.Logging.Core" version="0.2.0-alpha" targetFramework="net461" />
  <package id="CommandLineParser" version="2.3.0" targetFramework="net461" />
  <package id="Costura.Fody" version="3.1.0" targetFramework="net461" />
  <package id="DiscUtils.Containers" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Core" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Dmg" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Iso9660" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Net" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.OpticalDiscSharing" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Registry" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Streams" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Vhd" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Vhdx" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Vmdk" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Wim" version="0.13.0-alpha" targetFramework="net461" />
  <package id="DiscUtils.Xva" version="0.13.0-alpha" targetFramework="net461" />
  <package id="Fody" version="3.2.2" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.5.1" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="UsbEject" version="3.2.1-alpha" targetFramework="net461" />
</packages>